html, body, #reactapp, .App {
  height: 100%;
}

.App {
  flex-flow: column nowrap;
  height: 100vh;
}

.Header {
  flex: 0 0 50px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 2px 2px lightgray;
  padding: 1em 2em;
  display: flex;
}

.Sidemenu-heading {

}

.Main {
  flex: 1 1 auto;
  padding: 1em 2em;
}

@media all {
  .App { display: flex}
  .Sidemenu { order: 1 }
  .Main { order: 2 }
}
