html, body, #reactapp, .App {
  height: 100%;
}

.App {
  flex-flow: column nowrap;
  height: 100vh;
}

.Header {
  flex: 0 0 50px;
  background-color: hsl(30, 70%, 50%);
  box-shadow: 0 2px 2px lightgray;
  padding: 5px 1px;
  display: flex;
}

.Header-btn {
  background-color: hsl(30, 70%, 70%);
  padding: 15px 0;
  min-width: 50px;
  border-radius: 5px;
  margin: 0 3px;
}

.Title {
  margin: auto;
}

.Title > * {
  display: inline-block;
  margin: auto 0;
  vertical-align: middle;
}

.Header-btn, .Title {
  color: white;
}

.Main {
  flex: 1 1 auto;
  padding: 1em 2em;
}

.add-folder-btn{
  background-color: hsl(30, 70%, 50%); 
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.add-folder-btn:hover {
  background-color: hsl(30, 70%, 70%); 
}

@media all {
  .App { display: flex}
  .Header { order: 1 }
  .Main { order: 2 }
}
